.goal {
    float: left;
    width: 400px;
    height: 300px;
    margin-bottom: 50px;
}

.graph-align {
    margin-left: 30px;
}

.goal > h3 {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 90%;
    margin-bottom: -5px;
}

.goal-text {
    margin-left: 32px;
}

.goal-description {

}


.goal-tags > span:after {
    content: ", ";
}

.goal-tags > span:last-child:after {
    content: ""
}

#title {
    display: inline-block;
    margin-right: 15px;
}

#goals {
    margin-bottom: 50px;
    margin-left: -29px;
}

#footer > span {
    float: right;
}

#logo {
    width: 30px;
    margin-bottom: 35px;
    margin-left: -15px;
}
