<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

	<link rel="icon" href="img/favicon.png" type="image/png" />

	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="css/syntax.css">
	
	<!-- Bootstrap -->
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">

	<link href="css/showcase.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <div class="container-fluid">
          <div class="site">
	    <h1 id="title">Ben Eills' Beeminder</h1>
	    <img id="logo" src="img/logo_compressed.png" />
	    <a href="http://github.com/beneills/beeminder-me">[on Github]</a>
	    <br />
	    <p>My Beeminder goals.  See also: <a href="http://showcase.beneills.com">Showcase</a></p>

	    <hr />     
                {{ content }}

		<!-- Footer -->

		<hr />
		<div id="footer">
                  <span>Ben Eills</span><br />
                  <span><a href="mailto:ben@beneills.com?Subject=beeminder-me">ben@beneills.com</a></span><br />
                  <span><a href="http://github.com/beneills/beeminder-me">github/beeminder-me</a></span>
		</div>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    </body>
</html>
